.sidebar {
        /*position: fixed;*/
        top: 0;
        bottom: 0;
        left: 0;
        min-height: 100vh !important;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .3);
        background: #E1E1E187;
        /*max-width: min-content;*/
    }
#sidebar-wrapper{
        min-height: 100vh !important;
        /*width: 100vw;*/
        margin-left: -1rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }
#sidebar-wrapper .sidebar-heading {
        padding: 0.875rem 1.25rem;
        font-size: 1.2rem;
}

#page-content-wrapper {
        min-width: 0;
        width: 100%;
}

#nav-items{
    text-decoration: none;
    padding: 1.2em 0.8em;
    font-family: 'Inconsolata', monospace;
    transition: transform 0.4s ease-out, -webkit-transform 0.2s ease-out;
    font-weight: bolder!important;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

#nav-items:hover{
    transform: translate(15px);
}

#nav-items a{
    text-decoration: none !important;
}
#nav-item{
    color: black;
}

#nav-items:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1.5em;
}