/*.btn{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    padding: 0;*/
/*    margin: 0 5px!important;*/

.button {
	margin: 0 5px !important;
}
.input_b{
	border: rgba(0, 0, 0, 0.3) solid 1.5px;
	border-radius: 5px;
	text-align: center;
}
.input_b:focus{
	border-color: #2684ff;
}
.input_b::-webkit-outer-spin-button, .input_b::-webkit-inner-spin-button{
	opacity: 1;
}
