.center{
    text-align:center;
  }
.table{
    width: 95%;
    font-family: 'Titillium Web', sans-serif;
    color: #5B5B5B;
}
thead th{
    color: black;
    font-weight: 600;
}
.btn{
    margin: 10px;
    color: black;
    background: white;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.3) solid 1.5px;
    font-weight: 600;
}