.title_header{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: 1em 0.8em;
    font-size: 2.5em;
    font-weight: 500;
    position: relative;
    left: -1vw;
}
.main-demand{
    font-family: 'Raleway', sans-serif;
}
.nav-tabs a{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color: black;
}

.nav-link.active{
    border-color: #E1E1E187 #E1E1E187 white !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-link:hover{
    border-color: #E1E1E187 #E1E1E187 white !important;
}

.nav-tabs{
    border-radius: 20px;
    background: #E1E1E187;
    width: 90%;
}
