
.sub_header{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: #5B5B5B;
    margin-bottom: 10px;
}

.main1{
    position: relative;
    display: inline-block;
    margin: 10px;
}