
.sub_header{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.05em;
    font-weight: 600;
    color: #5B5B5B;
    margin-bottom: 10px;
    position: relative;
    left: 1em;
}

.main1{
    position: relative;
    margin: 1em 0;
    display: inline-block;
}

.adder {
    margin: 10px;
}

.date-viewer{
    text-align: center;
    margin: 10px 0;
}

.date{
    font-family: 'Titillium Web', sans-serif;
    color: #5B5B5B;
    margin: 10px;
    font-size: 0.85em;
    font-weight: 600;
}

.date-main{
    padding: 0.7em;
    border: #5B5B5B;
    border-radius: 15px;
    background: #E1E1E187;
}
