
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.flex-item-adder{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    color: #5B5B5B;
    width: 500px;
    padding: 20px;
    border:rgba(0, 0, 0, 0.7) solid 1px;
    text-align: center;
    border-radius: 5px;
    /*background: #E1E1E187;*/
}

.btn{
    color: #5B5B5B;
    background: white;
    border-radius: 5px;
    border: #282c34 solid 1px;
    font-weight: 600;
}

.btn-outline-light:hover{
    color: black;
    border: black solid 1px;
}