

.date-viewer {
    text-align: center;
    margin-bottom: 2em;
}

.date{
    font-family: 'Titillium Web', sans-serif;
    color: #5B5B5B;
    margin: 10px;
    font-weight: 600;
}

/*.date-main{*/
/*    padding: 0.7em;*/
/*    border: #5B5B5B;*/
/*    border-radius: 5px;*/
/*    background: #E1E1E187;*/
/*}*/
.datepicker{
    border-radius: 5px !important;
}

.default-footer{
    height: 150px !important;
    justify-content: center;
}