
.title_header{
    font-family: 'Poppins', sans-serif;
    color: #141417;
    padding: 1em 0.8em;
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    left: -1vw;
    line-height: 1.2;
    white-space: nowrap;
    letter-spacing: 1px;
}